<div class="col-md-11 col-sm-11 col-xs-10">
	<md-input-container class="full-width">
		<input [disabled]="selectedParameters.length == 0" 
		mdInput placeholder="Search" (keyup)="search($event.target.value)"
		type="text" autocomplete="off">
	</md-input-container>
</div>
<div class="col-md-1 col-sm-1 col-xs-2" style="padding-top: 10px;">
	<button md-icon-button [mdMenuTriggerFor]="menu">
		<md-icon>more_vert</md-icon>
	</button>
	<md-menu #menu="mdMenu">
		<md-list>
			<md-list-item *ngFor="let parameter of parameters">
				<md-checkbox
					[(ngModel)]="parameter.status"
					(change)="selectParameter(parameter)"
					style="font-weight: 100 !important;">
					{{ parameter.name }}
				</md-checkbox>
			</md-list-item>
		</md-list>
	</md-menu>
</div>