.full-width {
    width: 100%;
}
:host/deep/.mat-focused .mat-input-placeholder {
    color: white;
}
:host/deep/.mat-input-placeholder.mat-float {
    color: white;
}
:host/deep/.mat-input-underline .mat-input-ripple {
    background-color: #F1F1F1 !important;
}
input:disabled {
    cursor: not-allowed;
}

/*related styles in styles.css  */