<div class="container app-body">
	<ol class="breadcrumb">
		<li><a routerLink="/transactions/new-assets">New facility request</a></li>
		<li class="active">Details</li>
	</ol>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<!-- Call location -->
			<div #callLocation class="card">
				<div class="card-header" data-background-color="blue">
					<h3 class="title">Call Location</h3>
				</div>
				<div style="padding:15px;">
					<agm-map 
						[latitude]="call.Latitude" 
						[longitude]="call.Longitude">
						<agm-marker 
							[latitude]="call.Latitude" 
							[longitude]="call.Longitude">
						</agm-marker>
					</agm-map>
				</div>
			</div>
		</div>
		<!-- Call Details -->
		<div class="col-md-8">
			<div #callProfile class="card">
				<div class="card-header" data-background-color="green">
					<h3 class="title">Call Profile</h3>
				</div>
				<div class="card-content">
					<form>
						<div class="row">
							<div class="col-md-6">
								<md-input-container class="full-width">
									<input mdInput placeholder="Call ID" value="{{ call.ID }}" disabled>
								</md-input-container>
							</div>
							<div class="col-md-6">
								<md-input-container class="full-width">
									<input mdInput placeholder="Call Status" value="{{ call.Status }}" disabled>
								</md-input-container>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<md-input-container class="full-width">
									<input mdInput placeholder="Scheduled Start" value="{{ call.ScheduledStart }}" disabled>
								</md-input-container>
							</div>
							<div class="col-md-6">
								<md-input-container class="full-width">
									<input mdInput placeholder="Scheduled End" value="{{ call.ScheduledEnd }}" disabled>
								</md-input-container>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<md-input-container class="full-width">
									<input mdInput placeholder="Outlet" value="{{ call.Outlet }}" disabled>
								</md-input-container>
							</div>
							<div class="col-md-6">
								<md-input-container class="full-width">
									<input mdInput placeholder="Agent" value="{{ call.Agent }}" disabled>
								</md-input-container>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<md-input-container class="full-width">
									<input mdInput placeholder="Outlet" value="{{ call.Outlet }}" disabled>
								</md-input-container>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Asset details -->
	<div class="row">
		<div *ngFor="let asset of call.Assets" class="col-md-12">
			<div [id]="asset.AssetUID" class="card">
				<div class="card-header" data-background-color="purple">
					<table class="table">
						<thead>
							<tr>
								<th style="font-weight:100;">Key</th>
								<th style="font-weight:100;">Tracking ID</th> 
								<th style="font-weight:100;">Asset Class</th> 
								<th style="font-weight:100;">Asset Type</th> 
								<th style="font-weight:100;">Asset Condition</th>
								<th style="font-weight:100;">Asset Group</th> 
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ asset.key }}</td>
								<td>{{ asset.TrackingID }}</td>
								<td>{{ asset.AssetClass }}</td>
								<td>{{ asset.AssetType }}</td>
								<td>{{ asset.AssetCondition }}</td>
								<td>{{ asset.AssetGroup }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-content" style="text-align:center;">
					<ngx-gallery 
						[options]="galleryOptions" 
						[images]="asset.image">
					</ngx-gallery>
				</div>
			</div>
		</div>
	</div>
</div>

