<div class="container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header" data-background-color="purple">
						<h4 class="title">{{ title }}</h4>
						<p class="category">Please complete and save the form</p>
					</div>
					<div class="card-content">
						<form (submit)="submit($event)" [formGroup]="form" #dynamicForm="ngForm">
							<div *ngFor="let formElement of formElements" class="form-group">
								<div [ngSwitch]="formElement.controlType">
									<!-- form input  -->
									<md-input-container class="full-width" *ngSwitchCase="'textbox'">
										<input mdInput placeholder="{{ formElement.placeholder }}" [formControlName]="formElement.key" [id]="formElement.key" [type]="formElement.type"
										 [value]=formElement.value>
									</md-input-container>
									<!-- form file upload  -->
									<input *ngSwitchCase="'file'" [formControlName]="formElement.key" [id]="formElement.key" [type]="formElement.type" class="form-control"
									 [value]=formElement.value placeholder="{{ formElement.placeholder }}" (change)="setFile($event)">
									<!-- form dropdown  -->
									<md-select *ngSwitchCase="'dropdown'" class="full-width" [formControlName]="formElement.key " placeholder="{{ formElement.label }}"
									 [id]="formElement.key">
										<md-option *ngFor="let opt of formElement.options" [value]="opt.key">
											{{opt.value}}
										</md-option>
									</md-select>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">{{ buttonValue }}</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>