<nav>
	<ul class="pagination" data-background-color="purple">
		<li (click)="first()"><span>&laquo;</span></li>
		<li (click)="previous()"><span>&lsaquo;</span></li>
		<li *ngFor="let page of pages" [ngClass]="{'active' : currentPage == page}" (click)="paginate(page)">
			<span>{{page}}</span>
		</li>
		<li (click)="next()"><span>&rsaquo;</span></li>
		<li (click)="last()"><span>&raquo;</span></li>
	</ul>
</nav>

<md-paginator [length]  = "100" *ngFor="let page of pages" [ngClass]="{'active' : currentPage == page}" (click)="paginate(page)">
</md-paginator>