<div class="container">
	<div class="row">
		<div class="col-md-12">

			<nav md-tab-nav-bar>
				 <a md-tab-link
					*ngFor="let tab of tabs"
					routerLink="{{ tab.link }}"
					routerLinkActive ="active">
					<span *ngIf="router.url === tab.link" 
						class="mat-ink-bar" 
						style="visibility: visible; left: 0px; width: 160px;">
					</span> 
					{{ tab.name }}
				</a> 
			</nav> 

			

			<!--<md-tab-group>
				<md-tab *ngFor="let tab of tabs"
					routerLink="{{tab.link}}"
					routerLinkActive ="active" label="{{tab.name}}">

					<a routerLink="{{tab.link}}">{{tab.name}} </a>
					</md-tab>
			</md-tab-group>-->

				<!--<ul class="nav nav-tabs">
				<li *ngFor="let tab of tabs" role="presentation" routerLinkActive="active">
					<a routerLink="{{tab.link}}">{{tab.name}}</a>
				</li>
			</ul>-->
		</div>
	</div>
</div>