<div class="container">
	<div class="row">
		<div class="col-md-12 mapping-filter">
			<label class="radio-inline">
				<input type="radio" name="outlets" id="all" value="all" (click)="filter($event)" checked="checked">All
			</label>
			<label class="radio-inline">
				<input type="radio" name="outlets" id="assigned" value="assigned" (click)="filter($event)">Assigned
			</label>
			<label class="radio-inline">
				<input type="radio" name="outlets" id="unassigned" value="unassigned" (click)="filter($event)">Unassigned
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<tr>
					<th *ngFor="let column of columns">
						{{column.name}}
					</th>
					<th></th>
				</tr>
				<tr *ngFor="let row of rows">
					<td *ngFor="let column of columns">
						<span [ngSwitch]="column.type">
              				<span *ngSwitchCase="'string'">{{row[column.attr]}}</span>
							<span *ngSwitchCase="'number'">{{row[column.attr]}}</span>
							<span *ngSwitchCase="'array'">{{row[column.attr]}}</span>
							<img *ngSwitchCase="'img'" [src]="row[column.attr]" width="50" height="50">
						</span>
					</td>
					<td>
						<button *ngIf="!row.assigned" type="button" class="btn btn-default" (click)="assign(row)">
							Assign							
							<!--<span class="glyphicon glyphicon-pencil"></span>-->
						</button>
						<button *ngIf="row.assigned" type="button" class="btn btn-default" (click)="unassign(row)">
							<!--<span class="glyphicon glyphicon-trash"></span>-->
							Unassign
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>