<div class="container">
	<div class="page-header">
		<h1>Manage {{ title }}</h1>
	</div>
	<form class="form-inline" (submit)="submit($event)">
		<div class="row justify-content-between">
			<div class="col-md-4">
				<md-input-container style="width:100%;">
					<input mdInput [mdDatepicker]="pickerFrom" placeholder="From:" 
						[value]=previousDate>
					<button mdSuffix [mdDatepickerToggle]="pickerFrom"></button>
				</md-input-container>
				<md-datepicker #pickerFrom></md-datepicker>
			</div>
			<div class="col-md-4">
				<md-input-container style="width:100%;">
					<input mdInput [mdDatepicker]="pickerTo" placeholder="To:" 
						[value]=currentDate>
					<button mdSuffix [mdDatepickerToggle]="pickerTo"></button>
				</md-input-container>
				<md-datepicker #pickerTo></md-datepicker>
			</div>
			<div class="col-md-3">
				<md-select style="width:100%;padding-top:10px;padding-bottom:20px;"
					placeholder="Status:" id="state">
					<md-option *ngFor="let state of state" [value]="state.key">
						{{ state.value }}
					</md-option>
				</md-select>
			</div>
			<div class="col-md-1">
				<button md-raised-button>Submit</button>
			</div>
		</div>
	</form>
</div>
<app-data-table 
	[taskDetail]="taskDetail"
	[url]="url" 
	[columns]="columns" 
	[rows]="rows" 
	(onDelete)="delete($event)">
</app-data-table>