<div class="container">
	<div class="page-header">
		<h1>Manage {{title}}</h1>
	</div>

	<form class="form-inline" (submit)="submit($event)">
		<div class="row justify-content-between">
			<div class="form-group col-md-4">
				<label for="from">From:</label>
				<input type="date" class="form-control" id="from" placeholder="From" [value]=previousDate>
			</div>
			<div class="form-group col-md-4">
				<label for="to">To:</label>
				<input type="date" class="form-control" id="to" placeholder="To" [value]=currentDate>
			</div>

			<div class="form-group col-md-4">
				<label for="status">Status:</label>
				<select class="form-control" id="status">
					<option value='0'>All</option>
					<option value='5'>In Progress</option>
					<option value='6'>Completed</option>
		<!--			<option value='4'>Canceled</option>     -->
		<!--			<option value='7'>Lost</option>			-->
				</select>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

<app-simple-table *ngIf="rows.length>0"
	[title]="title" 
	[columns]="columns" 
	[rows]="rows">
</app-simple-table>